
/*  الاكواد في فوضى لست ملزومة بتشوه عينيك */

@font-face{ /* استيراد الخطوط*/
    
    font-family: MyNormalText;
    src: url(Fonts/NormalText.ttf);
}

@font-face{ /* استيراد الخطوط*/
    
    font-family: ArTitle;
    src: url(Fonts/ArabicTitle.otf);
}
*{
    direction: rtl;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:MyNormalText;
    color: rgb(255, 255, 255);   
    text-align: center;
    
    border-radius: 40px;
}



@media all and (max-width: 1000px) {

 .Top{
    height: 30vh;
 }
   
 label{
    left: 2vw;
 }

 h1{
    font-size: 6vh;
 }
 #_l{
    font-size: 2vh;
 }
 
 p{
    font-size:2vh;
 }
 label{

    font-size: 2vh;
 }

 input[type=text]{
    font-size: 2vh;
    height: 4vh;
 }
 input[type=date] {
    height: 5vh;
    font-size: 4vh;
}
}

@media all and (min-width: 1001px) {

    .Top{
       height:70vh;
       width: 100%;
      
      
    }
    label{
        left: 1.2vw;
     }
    
  h1{
    font-size: 8vh;
 }


 #_l{
    font-size: 3vh;
 }

 p{
    font-size:3vh;
 }

 label{

    font-size: 3vh;
 }

 input{
    font-size: 3vh;
    height: 6vh;
  
 }


   }


body{
    
   
    background-image: url('Img/PgOneTwo/BgBody.png');
    background-color: rgb(34, 29, 75);
 

    
    height: 100%;
    

    position:static;
    background-size: cover;
   
    background-repeat:no-repeat;

    margin-bottom: 41vh;
}



   
.Top{ 	

    background-color: rgb(41, 41, 69);
   background-image: url(Img/Phone/Ifw.png);
   background-size:auto;
   background-repeat: repeat;
    overflow:hidden;

    border-radius: 0px;
}

object{
    height: 100%;
    width: 100%;

    object-fit:contain;
    object-position: bottom;

    border-radius: 0px;
}



h1{
       
    font-family: ArTitle ;
        width: 100%;

       
        font-weight:500;
       
       
}




#_l{
    color: rgb(34, 34, 34);
    width: 70vw;
  margin-right: 4.5vw;
 background-color: rgb(255, 255, 255);
padding: 3vh;
}

p{
    
    margin: 1vh;
    font-weight:100;
}

p::first-line{
    font-size: 150%;
    
}




section{

  width: 100%;
height: 100%;
  margin-top: 2vh;
  margin-bottom: 4vh;

}

textarea{
    font-size: 2vh;
    color: rgb(63, 63, 63);
    width: 70vw;
  
 background-color: rgb(255, 255, 255);
padding: 3vh;
}

input[type=text]{
  

   
    color: rgb(63, 63, 63);
    width: 70vw;

 background-color: rgb(255, 255, 255);
border: none;

}
  

input[type=date] {

    color: rgb(63, 63, 63);
    width: 70vw;
   
 background-color: rgb(255, 255, 255);

}

input:focus{
    background-color:  rgb(133, 107, 182);
    color: antiquewhite;
}

input[type=radio] {
    

   
    
    margin: 1vw;
 
    margin-top: 0;

    accent-color:  rgb(133, 107, 182);
   align-content: center;

}

input[type=checkbox] {
    position: relative;
    left: 2vw;
    height: 0;   
    width: 0;
    
   
    margin: 1vw;
    margin-top: 1;
 
    accent-color:  rgb(133, 107, 182);
}

label{
    height: 100%;
    display: inline-block;
    width: 60%;

    position: relative;
    bottom: 0.2vw;
    align-content: center;
    margin: 0.5vh;
    padding: 0.7vh;
   
    background-color: rgb(255, 255, 255);
    border: none;  
    color: rgb(34, 34, 34);
    
 
   

}

label:active{

    background-color:  rgb(133, 107, 182);
}



input[type="radio"]:checked + label {
    background-color:  rgb(170, 153, 202);

h1 {
    background-color: brown;
}
  

}

input[type="checkbox"]:checked + label {
    background-color:  rgb(170, 153, 202);
}


div label{
    width: 25vw;
}

.long label {
  
    width: 80vw;
}





.button {
 
    height: 6vh;
    width : 48.5vw;
  
   font-size: 3vh;
   
    padding: 5px 25px;
  
   margin-Top: 10vh;
   cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #b393b6;
    border: none;
   
    box-shadow: 0 9px #ac92b156;
  }
  
  .button:hover {  color: #db95db; background-color: #793a92}
  
  .button:active {
   
    background-color: #4d2158;
    box-shadow: 0 5px #401a4756;
    transform: translateY(4px);
  }


  

#Show{
    visibility: visible;
    position: absolute;

}

#Steel{
    visibility: visible;
    position: absolute;

}

#notSteele{
    visibility: visible;
    position: absolute;

}



